<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso Basico de Vue.js | Platzi</title>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div id="root" :style="{background: '#' + color}">
    <!-- Event mouse over -->
    <img v-on:mouseover="toggleShowPrices" v-on:mouseout="toggleShowPrices" v-bind:src="img" v-bind:alt="name">
    <h1 v-bind:class="changePercent > 0 ? 'green' : changePercent === 0 ? 'orange' : 'red' ">{{ name }}
      <!-- Conditionals -->
      <span v-if="changePercent > 0">💚</span>
      <span v-else-if="changePercent < 0">🙁</span>
      <span v-else>😎</span>

      <!-- Only show if true -->
      <span v-show="changePercent > 0">💚</span>
      <span v-show="changePercent < 0">🙁</span>
      <span v-show="changePercent === 0">😎</span>
    </h1>

    <!-- Rendering an array of elements: i represents indice -->
    <ul>
      <li v-bind:style="{color: '#' + fontColor}" v-for="(p , i) in prices" v-bind:key="i">
        {{ i }} - {{ p }}
      </li>
    </ul>

    <!-- Handling events in vue -->
    <span v-bind:style="{color: '#' + fontColor}" v-on:click="toggleShowPrices">{{ showPrices ? 'Hidde Prices' : 'Show Prices' }}</span>

    <!-- Rendering an array of objects: i represents indice -->
    <ul v-show="showPrices">
      <li class="uppercase" v-bind:class="{orange: p.value === actualPrice, green: p.value > actualPrice, red: p.value < actualPrice}" v-for="(p, i) in pricesWithDays" v-bind:key="i">
        {{ i }} - {{ p.day }} => {{ p.value }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>